<fieldset id='shipping_method' data-hook>
  <legend><%= t(:shipping_method) %></legend>
  <div class="inner" data-hook="shipping_method_inner">
    <div id="methods">
      <p class="field radios">
        <label>
          <%= radio_button :order, :shipping_method_id, @order.digital_shipping_method[:id] %>
          <%==t 'digital_shipping', :email => @order.email %> (<%= number_to_currency @order.digital_shipping_method[:cost] %>)
        </label>
      </p>
    </div>
  </div>
</fieldset>

<br />

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag t(:save_and_continue), :class => 'continue button primary' %>
</div>